/* .container-blog{
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.blog{
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 450px;
    padding: 15px;
    color: #000;
    max-width: 300px;
}

.blog h3{
    font-size: 20px;
}

.blog p{
    font-size: 15px;
}

.blog img{
    width: 100%;
} */
