/* h1{
    text-align: center;
} */
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    text-decoration: none;
    color: black;
}

/* #consulta {
    background-color: whitesmoke;
    width: 800px;
    justify-items: center;

}
#tipo_atendimento{
    background-color: whitesmoke;
    width: 600px;
    margin-left: 380px;
}
#fab{
    background-color: whitesmoke;
    width: 400px;
    margin-left: 368px;
    margin-right: 50px;
} */

.container__peca{
    width: 40%;
}

.tabela__peca{
    background-color: whitesmoke;
}


.tabela__produto{
    background-color: whitesmoke;
}

.container__atendimento{
    width: 40%;
}

.tabela__atendimento{
    background-color: whitesmoke;
}

.container__defeito{
    width: 50%;
}

.tabela__defeito{
    background-color: whitesmoke;
}

.container__fabrica{
    width: 30%;
}

.tabela__fabrica{
    background-color: whitesmoke;
}

